<!doctype html>
<html lang="en-US">
    <head>
        <title>Andrew Lilley Brinker</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/styles/normalize.css">
        <link rel="stylesheet" href="/assets/styles/main.css">
    </head>
    <body>
        <div id="top" class="Top"></div>

        <div class="Container">
            <header class="Header">
                <h1 class="Logo"><a href="/"><img src="/assets/images/me.jpg"></a></h1>
            </header>

            <main class="Content">
                <div class="Content-body">
                    {{ content }}
                </div>
            </main>
        </div>
    </body>
</html>
